body {
	font-family: Verdana, "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", sans-serif;
}

p, li {
	font-size: 0.875rem; 
	line-height: 1.5; 
	margin: 0 0 0.4375em; 
	padding: 0;
}

a {
	text-decoration: none; 
	color: black; 
	font-weight: bold; 
	border-bottom: dotted 1px; 

	&:hover {
		border-bottom: none; 
	}
}

.bullet-list {
  > li {
  	position: relative;
  	padding: 0 0 0 20px; 

	  &:before {
	    content: '\2022';
	    display: inline-block;
	    position: absolute;
	    left: 0;
	  }
  }
}

.constrained {
	max-width: px(1200); 
	width: 100%; 
	margin: 0 auto;
}

@mixin clearfix {
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
